* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(33, 33, 33, 1);
}

.container {
  max-width: 74.75rem;
  margin: 0 auto;
}

.header {
  max-width: 94.5rem;
  margin: 0 auto;
  min-height: 4rem;
}

.navbar {
  min-height: 4rem; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.navbar__logo img { 
  display: block; 
  width: 5.875rem;
  height: auto;
  margin-right: 2.5rem;
  margin-left: 1.5rem;
}
.navbar__search {
  display: flex;
  align-items: center;
  height: 2.625rem;
  flex: 1;
  max-width: 37rem;
}
.navbar__search-events,
.navbar__search-location {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar__search-events {
  width: 18.75rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.navbar__search-events img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.navbar__search-location {
  width: 15.875rem;
  padding: 0 0.75rem;
  border-left: none;
}
.navbar__search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.875rem;
}
.navbar__search-btn {
  width: 2.625rem;
  height: 2.625rem;
  border: none;
  background-color: rgba(246, 88, 88, 1);
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar__search-btn img {
  width: 1rem;
  height: 1rem;
}
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: auto;
  margin-right: 3.125rem;
}
.navbar__lang-btn {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.875rem;
}
.navbar__lang-btn img {
  width: 1.25rem;
  height: 1.25rem;
}
.navbar__actions a {
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  font-size: 0.875rem;
  font-weight: 500;
}
.navbar__signup-btn {
  width: 5.1875rem;
  height: 2.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.hero {
  margin-top: 4.437rem;
}
.hero__content {
  display: flex;
  gap: 2.875rem;
  margin-bottom: 6.156rem;
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: rgba(33, 33, 33, 1);
}
.hero__title {
  font-size: 2.625rem;
  font-weight: 700;
}
.hero__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.hero__button {
  width: 7.8125rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.hero__irl {
  flex-shrink: 0;
  width: 23.68rem;
  height: 16.81rem;
  margin-right: 10.125rem;
}

.events__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem;
}
.event-card__image {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.event-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 13rem;
}
.event-card__category,
.event-card__date,
.event-card__bottom {
  text-align: left;
}
.event-card__title {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
.event-card__category {
  margin-top: 0.5rem;
  color: #707070;
  font-size: 0.875rem;
}
.event-card__date {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
.event-card__bottom {
  margin-top: 0.75rem;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
}