* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(33, 33, 33, 1);
}

.container {
  max-width: 74.75rem;
  margin: 0 auto;
}

.header {
  max-width: 94.5rem;
  margin: 0 auto;
  min-height: 4rem;
}

.navbar {
  min-height: 4rem; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.navbar__logo img { 
  display: block; 
  width: 5.875rem;
  height: auto;
  margin-right: 2.5rem;
  margin-left: 1.5rem;
}
.navbar__search {
  display: flex;
  align-items: center;
  height: 2.625rem;
  flex: 1;
  max-width: 37rem;
}
.navbar__search-events,
.navbar__search-location {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 1);
  background-color: rgba(255, 255, 255, 1);
}
.navbar__search-events {
  width: 18.75rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.navbar__search-events img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.navbar__search-location {
  width: 15.875rem;
  padding: 0 0.75rem;
  border-left: none;
}
.navbar__search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.875rem;
}
.navbar__search-btn {
  width: 2.625rem;
  height: 2.625rem;
  border: none;
  background-color: rgba(246, 88, 88, 1);
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar__search-btn img {
  width: 1rem;
  height: 1rem;
}
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-left: auto;
  margin-right: 3.125rem;
}
.navbar__lang-btn {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.875rem;
}
.navbar__lang-btn img {
  width: 1.25rem;
  height: 1.25rem;
}
.navbar__actions a {
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  font-size: 0.875rem;
  font-weight: 500;
}
.navbar__signup-btn {
  width: 5.1875rem;
  height: 2.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.hero {
  margin-top: 4.437rem;
}
.hero__content {
  display: flex;
  gap: 2.875rem;
  margin-bottom: 6.156rem;
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: rgba(33, 33, 33, 1);
}
.hero__title {
  font-size: 2.625rem;
  font-weight: 700;
}
.hero__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.hero__button {
  width: 7.8125rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 121, 138, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.hero__irl {
  flex-shrink: 0;
  width: 23.68rem;
  height: 16.81rem;
  margin-right: 10.125rem;
}

.events {
  margin-bottom: 2.5rem;
}

.events__header {
  display: flex;
  justify-content: space-between;

}
.events__title-wrapper {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1.75rem;
}
.events__location {
  width: 14.94rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(151, 202, 209, 0.12);
  color: rgba(0, 121, 138, 1);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
}
.events__title {
  line-height: 36px;
  font-weight: 600;
  font-size: 1.75rem;
  padding-top: 0.4rem;
}
.events__image {
  margin-left: 0.75rem;
}
.event-card__image-wrapper {
  position: relative;
}
.event-card__badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0.25rem 0.5rem;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25rem;

  font-size: 0.75rem;
  font-weight: 500;
  color: rgba(112, 112, 112, 1);
}

.event-card__badge-icon {
  width: 1rem;
  height: 1rem;
}
.events__link {
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: rgba(0, 121, 138, 1);
}
.events__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem;
}
.event-card {
  height: 24.9375rem;
}
.event-card__image {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.event-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-card__category,
.event-card__date,
.event-card__bottom {
  text-align: left;
}
.event-card__title {
  margin-top: 0.75rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.event-card__category {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(112, 112, 112, 1);
  font-size: 0.875rem;
  font-weight: 500;
}
.event-card__date {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.35px;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.event-card__bottom {
  display: flex;
  gap: 1rem;
}
.event-card__info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.event-card__icon {
  width: 1rem;
  height: 1rem;
}


.join-meetup {
  margin-bottom: 4rem;
}
.join-meetup__content {
  background-color: rgba(151, 202, 209, 0.08);
  display: flex;
}
.join-meetup__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.25rem;
  margin-left: 3.5rem;
  margin-bottom: 2.25rem;
  min-width: 46.187rem;

}
.join-meetup__title {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 36px;
}
.join-meetup__description {
  max-width: 41.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.join-meetup__button {
  background-color: rgba(227, 35, 89, 1);
  width: 12rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.categories {
  margin-bottom: 4rem;
}
.categories__title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}
.categories__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}
.categories__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.4375rem;
  height: 7rem; 
  padding: 1rem;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 0.5rem;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  transition: 0.2s;
}
.categories__card:hover {
  background-color: rgb(239, 239, 239);
}
.categories__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.75rem;
}
.categories__name {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.popular-cities {
  margin-bottom: 4rem;
}
.popular-cities__description {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(112, 112, 112, 1);
}
.popular-cities__title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.popular-cities__grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.popular-cities__card {
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.popular-cities__card:hover {
  transform: translateY(-0.5rem) scale(1.05);
}
.popular-cities__image {
  width: 12.8125rem;
  height: 12.8125rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
.popular-cities__name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgba(33, 33, 33, 1);
}

.how-meetup-works {
  margin-bottom: 4rem;
}
.how-meetup-works__title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
}
.how-meetup-works__cards {
  display: flex;
  gap: 2rem;
}
.how-meetup-works__card {
  display: flex;
  gap: 1.5rem;

  width: 36.25rem;
  height: 11.25rem;

  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;

  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 0.5rem;
}
.how-meetup-works__icon {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.how-meetup-works__content {
  max-width: 23.68rem;
}
.how-meetup-works__card-title {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.how-meetup-works__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 1rem;
}
.how-meetup-works__link {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 121, 138, 1);
  text-decoration: none;
}

.friendships {
  margin-bottom: 4rem;
}
.friendships__title {
  margin-bottom: 1rem;

  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.friendships__description {
  max-width: 55rem;
  margin-bottom: 1.75rem;

  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(112, 112, 112, 1);
}
.friendships__grid {
  display: flex;
  gap: 2rem;
}
.friendships__card {
  width: 23.5rem;
}
.friendships__card:hover {
  background-color: rgb(239, 239, 239);

}
.friendships__image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;

  margin-bottom: 1rem;
}
.friendships__card-title {
  margin-bottom: 0.75rem;
  max-width: 20rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.friendships__card-text {
  margin-bottom: 1rem;
  max-width: 22rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(112, 112, 112, 1);
}
.friendships__link {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 121, 138, 1);
  text-decoration: none;
}

.footer {
  margin-top: 4rem;
  padding: 2rem 0;

  background: rgba(33, 33, 33, 1);
  color: rgba(246, 247, 248, 1);
}

.footer a {
  color: rgba(197, 196, 196, 1);
  text-decoration: none;
}
.footer .container {
  max-width: 70rem;
}
.footer__top {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}
.footer__button {
  padding: 0.75rem 1.5rem;

  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 0.375rem;

  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-left: 1rem;
}

.footer__divider {
  margin: 1.5rem 0;
  border-top: 1px solid rgba(112, 112, 112, 1);
  width: 70rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1.5rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.437rem;
  width: 23.312rem;
}

.footer__title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(246, 247, 248, 1);
}
.footer__title a {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: rgba(197, 196, 196, 1);
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  display: flex;
  gap: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
}
.footer__icons a {
  width: 1.875rem;
  height: 1.875rem;
}
.footer__stores {
  display: flex;
  gap: 1rem;
}

.footer__bottom {
  margin-top: 1.5rem;

  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  font-size: 0.875rem;
}

/* EVENTS PAGE */

.events-page {
  padding-top: 5rem;
}
.events-page__list {
  margin-bottom: 2.25rem;
}
.events-page__content {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.events-page__subtitle {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: rgba(0, 121, 138, 1);
  border-bottom: 4px solid rgba(0, 121, 138, 1);
}
.events-page__left {
  width: 37.75rem;
}
.events-page__title {
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}
.events-page-card {
  display: flex;
  gap: 1rem;

  padding: 1rem 0;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.events-page-card:last-child {
  border-bottom: none;
}
.events-page-card:first-child {
  border-top: 1px solid rgba(217, 217, 217, 1);
}
.events-page-card__image {
  width: 9.9375rem; 
  height: 5.625rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.events-page-card__content {
  display: flex;
  flex-direction: column;
}

.events-page-card__date {
  padding-top: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: rgba(124, 111, 80, 1);
}

.events-page-card__title {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.events-page-card__attendees{ 
  padding-top: 3rem;
  font-weight: 400;
  font-size: 0.875rem;
}
.events-page-card__category {
  margin-top: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: rgba(112, 112, 112, 1);
}

.events-page__filters {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.events-page__filter {
  border-radius: 1.875rem;
  background-color: rgba(246, 247, 248, 1);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  color: rgba(33, 33, 33, 1);
  appearance: none;
  padding: 0 2.5rem 0 1rem;
  background-image: url("../assets/svg/events-page/any.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  border: none;
  height: 2.875rem;
}
.events-page__map {
  width: 21.875rem;
  position: relative;
}

.events-page__map-text {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.events-page__map-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.events-page__map-wrapper {
  position: relative;
}

.events-page__map-image {
  width: 100%;
  border-radius: 0.75rem;
  display: block;
}

.events-page__map-button {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    padding: 0.75rem 1rem;

    border: 2px solid rgba(0, 121, 138, 1);
    border-radius: 0.5rem;

    background: rgba(255, 255, 255, 1);
    color: rgba(0, 121, 138, 1);

    cursor: pointer;

    background-image: url("../assets/svg/events-page/expandMapIcon.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.125rem;
    padding-right: 2.5rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;

}
.events-page__map-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;

    width: 1rem;
    height: 1rem;

    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.events-page__map-close img {
    width: 0.9375rem;
    height: 0.9375rem;
}


@media (max-width: 430px) {

  .header {
    max-width: 100%;
    min-height: auto;
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .navbar__logo {
    order: 1;
  }

  .navbar__logo img {
    width: 6.125rem;
    margin: 0;
  }

  .navbar__actions {
    order: 2;
    margin: 0 0 0 auto;
    gap: 0.75rem;
  }

  .navbar__search {
    order: 3;
    flex: none;
    width: 100%;
    max-width: 100%;
    height: 3rem;
  }

  .navbar__search-events {
    width: 18.75rem;
  }

  .navbar__search-location {
    display: none;
  }

  .navbar__search-btn {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }

  .hero {
    margin-top: 0.875rem;
  }

  .hero__content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .hero__irl {
    width: 100%;
    height: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .hero__image {
    width: 13.4375rem;
    height: auto;
  }

  .hero__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  .hero__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .hero__button {
    display: none;
  }
}